nav{
	width:200px;
	float:left;
	clear:right;
	background-color:#ace600;
}
main{
	margin-left:201px;
	clear:right;
	background-color:#ffa74d;
	overflow: auto;
}
img.right{
	float:right;	
	height:200px;
	width:250px;
}
img.photo{
	float:right;
	height:200px;
	width:250px;
}
p{
	font-family:'Poiret One',cursive;
	font-weight:bold;
	font-size:20px;
	margin-right:250px;
}
h3{
	font-family:'Special Elite',cursive;
	font-size:30px;
	clear:right;
}
h1{
	font-family: 'Megrim', cursive;
	font-weight:bold;
	font-size:40px;
	background-color:#00cbcc;
}
h2{
	font-family:'Lobster', cursive;
	font-size:30px;
}
ul{
	font-family:'Poiret One', cursive;
	font-weight:bold;
	clear: none;
	margin-right:250px;
}
footer{
	clear:both;
}
img.photoleft{
	height:200px;
	width:250px;
	float:right;
}
body{
	background-color:#CC00CC
}
